/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header */
header {
    background-image: url('../static/health.jpg');
    background-size: cover;
    
    text-align: center;
    padding: 140px 0;
    height: 300px;
    text-align: left;
    padding: 100px 30px 200px 100px;
}

/* Style the heading */
h1 {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.p1{
    color: rgb(71, 134, 12);
    font-size: 30px;
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
}

.cta-button {
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border: 2px solid #fff;
    border-top-left-radius: 20px; /* Adjust the values as needed */
    border-top-right-radius: 20px; /* Adjust the values as needed */
    border-bottom-left-radius: 20px; /* Adjust the values as needed */
    border-bottom-right-radius: 20px; /* Adjust the values as needed */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #fff;
    color: #000;
}



/* Style the navigation menu */
nav ul {
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    text-align: center;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the About Us section */
.about-us {
    
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.key{
    color: rgb(71, 134, 12);
    font-weight: 900;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}
.about-us h2 {
    text-align: center;
    font-size: 28px;
    
    margin-bottom: 20px;
}

.about-text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

/* Add responsive styles for smaller screens if needed */
@media (max-width: 768px) {
    .about-text {
        text-align: center;
    }
}

.vision{
    color: rgb(71, 134, 12);
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.vision-text{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}


/* Style the main content */
main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.key{
    text-align: center;
    padding: 10px;
    
}

.featured h2 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}

/*.featured ul {
    list-style: none;
    margin-left: 20px;
}

.featured ul li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
}*/
/* Style the features container */
.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style individual features */
.feature {
    width: calc(45% - 10px); /* Two features in each row with spacing in between */
    background-color: rgba(245, 242, 242);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}
/* Hover effect for the key features */
.feature:hover {
    background-color: rgb(71, 134, 12); /* Change to green on hover */
    color: #fff; /* Text color on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}


/* Additional styles for the features */
.feature a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* Style the 7th feature in the middle 
.feature:nth-child(7) {
    width: 45%; /* Set a fixed width, e.g., 50% 
    margin: 0 auto; /* Center the 7th feature horizontally 
    text-align: center;
}*/




/* Add responsive styles for smaller screens if needed */
@media (max-width: 768px) {
    .feature {
        width: 100%;
    }
}


/* Style the testimonial section */
.testimonial {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px;
    
}

.testimonial h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
}

.testimonial-card p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.testimonial-card .author {
    font-style: italic;
    color: #777;
}
nav a:hover {
    color: rgb(71, 134, 12);
}

.footer {
    background-color: #333; /* Set your desired footer background color */
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    width: 100%;
    bottom: 0;
}