/* login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
body {
    /* Set background image and style */
    background-image: url('../static/istockphoto.jpg');
    background-size: cover; /* Make the background image cover the entire screen */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* 80% transparent white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

h2 {
    color: #333;
}

/* Style for form inputs and submit button (you can customize this further) */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(71, 134, 12);
    color: #000000;
}

/* Style for registration link */
p {
    margin-top: 16px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
