<!-- templates/bmi.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriWise - BMI Calculator</title>
    <link rel="stylesheet" href="..\static\bmi.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Calculate your BMI!</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home2_page') }}">Home</a></li>
            <li><a href="{{ url_for('view_profile') }}">View Profile</a></li>
            <li><a href="{{ url_for('bmi_page') }}">BMI Calculator</a></li>
            <!--<li><a href="#">Nutrient Lookup</a></li>
            <li><a href="#">Daily Nutrient Analysis</a></li>
            <li><a href="#">Workout Analysis</a></li>
            <li><a href="#">Mood Tracker</a></li>-->
            <li><a href="{{ url_for('tips_page') }}">Health Tips</a></li>
            <li><a href="{{ url_for('alternative_page') }}">Food Alternatives</a></li>
            <!--<li><a href="#">Contact</a></li>-->
        </ul>
    </nav>
    <main>
        <section>
            <h2>BMI Calculator</h2>
            <form method="post" action="{{ url_for('bmi_page') }}">
                <label for="weight">Weight (kg):</label>
                <input type="text" id="weight" name="weight" required>
                <label for="height">Height (m):</label>
                <input type="text" id="height" name="height" required>
                <button type="submit">Calculate BMI</button>
            </form>
            {% if bmi %}
            <div>
                <h3>Your BMI:</h3>
                <p>{{ bmi }}</p>
                <!-- Add additional information about BMI and its ranges here -->
            </div>
            {% endif %}
            <div>
                <h3>What is BMI?</h3>
                <p>BMI (Body Mass Index) is a measure of body fat based on your weight and height.</p>
            </div>
            <div>
                <h3>BMI Ranges:</h3>
                <ul>
                    <li>Underweight: Less than 18.5</li>
                    <li>Normal weight: 18.5 to 24.9</li>
                    <li>Overweight: 25 to 29.9</li>
                    <li>Obesity - Class 1: 30 to 34.9</li>
                    <li>Obesity - Class 2: 35 to 39.9</li>
                    <li>Obesity - Class 3: 40 or greater</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        &copy; 2023 NutriWise - Your Nutrition Companion
    </footer>
</body>
</html>
