<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriWise - Your Nutrition Companion</title>
    <link rel="stylesheet" href="..\static\home.css">
</head>
<body>
    <header>
        <h1>Welcome to NutriWise</h1>
        <p>Your Personalized Nutrition Companion</p>
        <br>
        <br>
        <a href="{{ url_for('login_page') }}" class="cta-button">Get Started</a>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main_page') }}">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>  
    <main>
        <section class="featured">
            <h2>Key Features</h2>
            <ul>
                <li><a href="#">Nutrition Analysis</a></li>
                <li><a href="#">Food Swaps</a></li>
                <li><a href="#">Expense Tracking</a></li>
                <li><a href="#">Nutritional Contents</a></li>
                <li><a href="{{ url_for('bmi_page') }}">BMI Calculator</a></li> 
                <li><a href="#">Health Tips</a></li>
                <li><a href="#">Personalized Menu Suggestions</a></li>
            </ul>
            <a href="#" class="cta-button">Get Started</a>
        </section>
        <section class="testimonial">
            <h2>What Our Users Say</h2>
            <div class="testimonial-card">
                <p>"NutriWise has transformed the way I think about my diet. It's an invaluable tool for anyone looking to eat healthier."</p>
                <p class="author">- Sarah M.</p>
            </div>
        </section>
    </main>
    <footer>
        &copy; 2023 NutriWise - Your Nutrition Companion
    </footer>
</body>
</html>

