<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile - NutriWise</title>
    <link rel="stylesheet" href="../static/viewprofile.css">
    <!-- Add any additional styles or meta tags as needed -->
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Your Profile</h1>
        </div>
    </header>
    

    <nav>
        <ul>
            <li><a href="{{ url_for('home2_page') }}">Home</a></li>
            <li><a href="{{ url_for('view_profile') }}">View Profile</a></li>
            <li><a href="{{ url_for('bmi_page') }}">BMI Calculator</a></li>
            <!--<li><a href="#">Nutrient Lookup</a></li>
            <li><a href="#">Daily Nutrient Analysis</a></li>
            <li><a href="#">Workout Analysis</a></li>
            <li><a href="#">Mood Tracker</a></li>-->
            <li><a href="{{ url_for('tips_page') }}">Health Tips</a></li>
            <li><a href="{{ url_for('alternative_page') }}">Food Alternatives</a></li>
            <!--<li><a href="#">Contact</a></li>-->
        </ul>
    </nav>
    <main>
    <!-- Add logic to display user's profile information here -->
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Username: {{user.username}} </p>
    <!--<p>Password: {{user.password}} </p>-->
    <!-- Add form to selectively update user information -->
    <button onclick="showUpdateForm()">Update Details</button>
    <div id="updateForm" style="display: none;">
        <form action="{{ url_for('update_profile') }}" method="post">
            <p>Enter only field which you want to update</p>
            <label for="newEmail">New Email:</label>
            <input type="email" id="newEmail" name="newEmail">
            <br>
            <label for="newUsername">New Username:</label>
            <input type="text" id="newUsername" name="newUsername">
            <br>
            <!--<label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword">
            <br>-->
            <button type="submit">Update Profile</button>
        </form>
    </div>
    <a href="{{ url_for('home2_page') }}">Back to Home</a>

</main>

    <script>
        function showUpdateForm() {
            var updateForm = document.getElementById("updateForm");
            updateForm.style.display = "block";
        }
    </script>
    

    <footer class="footer">
        &copy; 2023 NutriWise - Your Nutrition Companion
    </footer>
</body>
</html>
